TestTool/Web References/WebReference/HZShipDataWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetShipDataTable">
        <s:complexType />
      </s:element>
      <s:element name="GetShipDataTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetShipDataTableResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="exception" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetShipDataTableSoapIn">
    <wsdl:part name="parameters" element="tns:GetShipDataTable" />
  </wsdl:message>
  <wsdl:message name="GetShipDataTableSoapOut">
    <wsdl:part name="parameters" element="tns:GetShipDataTableResponse" />
  </wsdl:message>
  <wsdl:portType name="HZShipDataWebServiceSoap">
    <wsdl:operation name="GetShipDataTable">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取湖州船舶数据表</wsdl:documentation>
      <wsdl:input message="tns:GetShipDataTableSoapIn" />
      <wsdl:output message="tns:GetShipDataTableSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HZShipDataWebServiceSoap" type="tns:HZShipDataWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetShipDataTable">
      <soap:operation soapAction="http://tempuri.org/GetShipDataTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="HZShipDataWebServiceSoap12" type="tns:HZShipDataWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetShipDataTable">
      <soap12:operation soapAction="http://tempuri.org/GetShipDataTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HZShipDataWebService">
    <wsdl:port name="HZShipDataWebServiceSoap" binding="tns:HZShipDataWebServiceSoap">
      <soap:address location="http://172.21.25.33:30611/HZShipDataWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="HZShipDataWebServiceSoap12" binding="tns:HZShipDataWebServiceSoap12">
      <soap12:address location="http://172.21.25.33:30611/HZShipDataWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>